__pycache__
.ruff_cache
/cache.json
/*.json
*.log
*.log.*
*.bak
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.optim
*.lock
*.zip
*.rar
*.7z
*.pyc
/*.bat
/*.sh
/*.mp3
/*.lnk
!webui.bat
!webui.sh
!package.json
!config.json
!ui-config.json
!params.txt