__pycache__
.ruff_cache
/cache.json
/*.json
/*.yaml
*.log
*.log.*
*.bak
*.ckpt
*.safetensors
*.pth
*.pt
*.bin
*.optim
*.lock
*.zip
*.rar
*.7z
*.pyc
/*.bat
/*.sh
/*.mp3
/*.lnk
!webui.bat
!webui.sh
!package.json