[MAIN]
analyse-fallback-blocks=no
clear-cache-post-run=no
extension-pkg-allow-list=
extension-pkg-whitelist=
fail-on=
fail-under=10
ignore=CVS
ignore-paths=/usr/lib/.*$,
             modules/apg,
             modules/control/proc,
             modules/control/units,
             modules/ctrlx,
             modules/dcsolver,
             modules/dml,
             modules/ggml,
             modules/hidiffusion,
             modules/hijack,
             modules/intel/ipex,
             modules/intel/openvino,
             modules/k-diffusion,
             modules/ldsr,
             modules/onnx_impl,
             modules/pag,
             modules/prompt_parser_xhinker.py,
             modules/rife,
             modules/taesd,
             modules/todo,
             modules/unipc,
             modules/vdm,
             modules/xadapter,
             modules/meissonic,
             modules/omnigen,
             modules/pulid/eva_clip,
             repositories,
             extensions-builtin/sd-webui-agent-scheduler,
             extensions-builtin/sd-extension-chainner/nodes,
             extensions-builtin/sdnext-modernui/node_modules,
ignore-patterns=.*test*.py$,
                .*_model.py$,
                .*_arch.py$,
                .*_model_arch.py*,
                .*_model_arch_v2.py$, 
ignored-modules=
jobs=0
limit-inference-results=100
load-plugins=
persistent=yes
py-version=3.9
recursive=no
source-roots=
suggestion-mode=yes
unsafe-load-any-extension=no

[BASIC]
argument-naming-style=snake_case
attr-naming-style=snake_case
bad-names=foo, bar, baz, toto, tutu, tata
bad-names-rgxs=
class-attribute-naming-style=any
class-const-naming-style=UPPER_CASE
class-naming-style=PascalCase
const-naming-style=snake_case
docstring-min-length=-1
function-naming-style=snake_case
good-names=i,j,k,e,ex,ok,p,x,y,id
good-names-rgxs=
include-naming-hint=no
inlinevar-naming-style=any
method-naming-style=snake_case
module-naming-style=snake_case
name-group=
no-docstring-rgx=^_
property-classes=abc.abstractproperty
variable-naming-style=snake_case

[CLASSES]
check-protected-access-in-special-methods=no
defining-attr-methods=__init__, __new__,
exclude-protected=_asdict,_fields,_replace,_source,_make,os._exit
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs

[DESIGN]
exclude-too-few-public-methods=
ignored-parents=
max-args=99
max-attributes=99
max-bool-expr=99
max-branches=199
max-locals=99
max-parents=99
max-public-methods=99
max-returns=99
max-statements=199
min-public-methods=1

[EXCEPTIONS]
overgeneral-exceptions=builtins.BaseException,builtins.Exception

[FORMAT]
expected-line-ending-format=
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
indent-after-paren=4
indent-string='    '
max-line-length=200
max-module-lines=9999
single-line-class-stmt=no
single-line-if-stmt=no

[IMPORTS]
allow-any-import-level=
allow-reexport-from-package=no
allow-wildcard-with-all=no
deprecated-modules=
ext-import-graph=
import-graph=
int-import-graph=
known-standard-library=
known-third-party=enchant
preferred-modules=

[LOGGING]
logging-format-style=new
logging-modules=logging

[MESSAGES CONTROL]
confidence=HIGH,
           CONTROL_FLOW,
           INFERENCE,
           INFERENCE_FAILURE,
           UNDEFINED
# disable=C,R,W
disable=abstract-method,
        bad-inline-option,
        bare-except,
        broad-exception-caught,
        chained-comparison,
        consider-iterating-dictionary,
        consider-merging-isinstance,
        consider-using-dict-items,
        consider-using-enumerate,
        consider-using-from-import,
        consider-using-generator,
        consider-using-get,
        consider-using-in,
        consider-using-min-builtin,
        consider-using-max-builtin,
        consider-using-sys-exit,
        dangerous-default-value,
        deprecated-pragma,
        duplicate-code,
        file-ignored,
        import-error,
        import-outside-toplevel,
        invalid-name,
        line-too-long,
        locally-disabled,
        logging-fstring-interpolation,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-else-return,
        not-callable,
        pointless-string-statement,
        raw-checker-failed,
        simplifiable-if-expression,
        suppressed-message,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-locals,
        too-many-nested-blocks,
        too-many-statements,
        too-many-positional-arguments,
        unidiomatic-typecheck,
        unnecessary-dict-index-lookup,
        unnecessary-dunder-call,
        unnecessary-lambda,
        unnecessary-lambda-assigment,
        use-dict-literal,
        use-symbolic-message-instead,
        unknown-option-value,
        useless-suppression,
        wrong-import-position,
enable=c-extension-no-member

[METHOD_ARGS]
timeout-methods=requests.api.delete,requests.api.get,requests.api.head,requests.api.options,requests.api.patch,requests.api.post,requests.api.put,requests.api.request

[MISCELLANEOUS]
notes=FIXME,
      XXX,
      TODO
notes-rgx=

[REFACTORING]
max-nested-blocks=5
never-returning-functions=sys.exit,argparse.parse_error

[REPORTS]
evaluation=max(0, 0 if fatal else 10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10))
msg-template=
reports=no
score=no

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
ignore-signatures=yes
min-similarity-lines=4

[SPELLING]
max-spelling-suggestions=4
spelling-dict=
spelling-ignore-comment-directives=fmt: on,fmt: off,noqa:,noqa,nosec,isort:skip,mypy:
spelling-ignore-words=
spelling-private-dict-file=
spelling-store-unknown-words=no

[STRING]
check-quote-consistency=no
check-str-concat-over-line-jumps=no

[TYPECHECK]
contextmanager-decorators=contextlib.contextmanager
generated-members=numpy.*,logging.*,torch.*,cv2.*
ignore-none=yes
ignore-on-opaque-inference=yes
ignored-checks-for-mixins=no-member,
                          not-async-context-manager,
                          not-context-manager,
                          attribute-defined-outside-init
ignored-classes=optparse.Values,thread._local,_thread._local,argparse.Namespace
missing-member-hint=yes
missing-member-hint-distance=1
missing-member-max-choices=1
mixin-class-rgx=.*[Mm]ixin
signature-mutators=

[VARIABLES]
additional-builtins=
allow-global-unused-variables=yes
allowed-redefined-builtins=
callbacks=cb_,
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_
ignored-argument-names=_.*|^ignored_|^unused_
init-import=no
redefining-builtins-modules=six.moves,past.builtins,future.builtins,builtins,io
