setuptools==69.5.1
patch-ng
anyio
addict
astunparse
filetype
future
GitPython
httpcore
inflection
jsonmerge
kornia
lark
omegaconf
optimum
piexif
psutil
pyyaml
resize-right
rich
toml
voluptuous
yapf
fasteners
orjson
ruff
pylint
invisible-watermark
pi-heif
safetensors==0.4.5
tensordict==0.1.2
peft==0.13.1
httpx==0.24.1
compel==2.0.3
torchsde==0.2.6
antlr4-python3-runtime==4.9.3
requests==2.32.3
tqdm==4.66.5
accelerate==1.0.0
opencv-contrib-python-headless==4.9.0.80
einops==0.4.1
gradio==3.43.2
huggingface_hub==0.25.2
numexpr==2.8.8
numpy==1.26.4
numba==0.59.1
blendmodes
scipy
pandas
protobuf==4.25.3
pytorch_lightning==1.9.4
tokenizers==0.20.0
transformers==4.45.2
urllib3==1.26.19
Pillow==10.4.0
timm==0.9.16
pydantic==1.10.15
pyparsing==3.1.4
typing-extensions==4.12.2
torchdiffeq
dctorch
scikit-image
seam-carving
open-clip-torch

# TODO temporary block for torch==2.5.0
torchvision!=0.20.0
torch!=2.5.0
