# additional requirements that are not required for sdnext base operations
basicsr
gfpgan
clean-fid
optimum-quanto
bitsandbytes
pynvml
ultralytics
pydantic==1.10.15
albumentations==1.4.3
clip_interrogator==0.6.0
# insightface # problematic build
# nncf==2.7.0 # requires older pandas
# gguf # installs scripts
