setuptools
patch-ng
anyio
addict
astunparse
blendmodes
clean-fid
filetype
future
GitPython
httpcore
inflection
jsonmerge
kornia
lark
lpips
omegaconf
open-clip-torch
optimum
piexif
psutil
pyyaml
resize-right
rich
scipy
toml
torchdiffeq
voluptuous
yapf
scikit-image
fasteners
dctorch
pymatting
orjson
invisible-watermark
pi-heif
safetensors==0.4.3
tensordict==0.1.2
peft==0.10.0
httpx==0.24.1
compel==2.0.2
torchsde==0.2.6
clip-interrogator==0.6.0
antlr4-python3-runtime==4.9.3
requests==2.31.0
tqdm==4.66.4
accelerate==0.30.1
opencv-contrib-python-headless==4.9.0.80
diffusers==0.27.2
einops==0.4.1
gradio==3.43.2
huggingface_hub==0.23.0
numexpr==2.8.8
numpy==1.26.4
numba==0.59.1
pandas
protobuf==3.20.3
pytorch_lightning==1.9.4
tokenizers==0.19.1
transformers==4.41.0
urllib3==1.26.18
Pillow==10.3.0
timm==0.9.16
pydantic==1.10.15
typing-extensions==4.11.0
